astroid==2.12.12
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
decorator==5.1.1
dill==0.3.6
exceptiongroup==1.0.0
executing==1.1.1
iniconfig==1.1.1
ipython==8.5.0
isort==5.10.1
jedi==0.18.1
lazy-object-proxy==1.8.0
matplotlib-inline==0.1.6
mccabe==0.7.0
numpy==1.23.4
packaging==21.3
pandas==1.5.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.5.2
pluggy==1.0.0
prompt-toolkit==3.0.31
ptyprocess==0.7.0
PuLP==2.6.0
pure-eval==0.2.2
Pygments==2.13.0
pylint==2.15.5
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.6
six==1.16.0
stack-data==0.5.1
tomli==2.0.1
tomlkit==0.11.6
traitlets==5.5.0
wcwidth==0.2.5
wrapt==1.14.1
XlsxWriter==3.0.3
