@import 'main.scss';

.p-datatable-header {
    color: var(--primary);
    padding: 0 0 .5em .5em;
    font-weight: bold;
    font-size: 1.75em;
    font-family: var(--header-family);
}

.p-inputtext {
    border: solid 1px var(--primary);
    font-size: 1.25em;
    border-radius: 10px;
    padding: .2em .8em;
}

.p-datatable-row-expansion {
    background-color: var(--background);
    box-shadow:
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
}